*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:gilroy;
    color:#fff
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    background-color: #000;
}
#nav{
    height:100px;
    width:100%;
    /* background-color: blue; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display:flex;
    /* background-color:rgb(209, 125, 23); */
    width: 60%;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
}
#nav>i{
    font-size:20px; 
}
#nav h5{
    font-size: 15px;
    text-transform:capitalize;
    font-weight: 600;
}
#nav img{
    height:50px;
}
#line{
    width:70px;
    height:3px;
    background-color: red;
}
#content{
    height:calc(100% - 100px);
    width:100%;
    /* background-color: aqua; */
    display:flex;
    position:relative;
    justify-content: space-between;
}
#left{
    width:36%;
    height:100%;
    /* background-color: red; */
    padding: 110px 100px;
}
#right{
    width:36%;
    height:100%;
    /* background-color: red;  */
    padding: 225px 100px;
}
#center{
    width:26%;
    height:100%;
    /* background-color: blue; */
    padding-top:60px;
}
#left h1{
    font-size: 70px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 04px;
}
#left h1 span{
    color:red;
    font-weight: 500;
}
#left p{
    font-size: 18px;
    width:70%;
    line-height: 22px;
    padding: 20px;

}
#left button{
    background-color: red;
    padding: 20px 40px;
    border:red;
    border-radius: 50px;
    font-size: 19px;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;

}
#left button i{
    margin-right: 10px;
}
#center-bg{
    height: 88%;
    width:100%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg);
    background-size: 450%;
    background-position: 30% 40%;
    filter: blur(3px);
}
#content>img{
    height:100%;
    position: absolute;
    left:49%;
    transform: translate(-50%,0);
}
#right-elems{
    /* background-color: red; */
    width:400px;
}
#element1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:70px;
    /* background-color: blue; */
    border-bottom: 1px solid #ffffff;
}
#element1 h1{
        font-size: 24px;
        font-weight: 600;

}
#element1 i{
        font-size: 24px;
}
#element2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top:15px;
}
#element2 p{
    font-size: 12px;
    width: 80%;

}